:root {
    /* all variables should be changed here: */
    --empty-bg: grey;
    --taken-bg: '2B252C';
    --extra-empty-bg: 'inherit';
    --block-width: 20px;
    --block-height: var(--block-width);
    --blocks-per-row: 6;
    --distance-between-blocks: 2px;
}

body {
    background-color: #232744;
    color: whitesmoke;
}

.all-remaining-shapes-container {
    display: flex;
    flex-wrap: wrap;
}

.score-container {
    font-size: 2rem;
}

.modal {
    color: black;
}

#board{
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--blocks-per-row) * var(--block-width) + var(--blocks-per-row) * var(--distance-between-blocks));
}

.block {
    width: var(--block-width);
    height: var(--block-height);
    margin: calc(var(--distance-between-blocks) / 2);
}

.empty-block {
    background-color: var(--empty-bg);
}

.taken-block {
    background-color: var(--taken-bg);
}

.extra-empty-block {
    background-color: var(--extra-empty-bg);
}