{% extends 'game_display.html' %}

{% block imports %}
    {{ super() }}
    <script src="{{ url_for('static', filename='human_functions.js') }}"></script>
    <script src="{{ url_for('static', filename='key_handling.js') }}"></script>
{% endblock imports %}

{% block extra_current_stats %}
<div class="col" id="extraCurrentStats">
    <p>Fields in current shape: <span id="takenFieldsInCurrentShape"></span></p>
    <p>Fields in other remaining shapes: <span id="takenFieldsInOtherRemainingShapes"></span></p>
    <p>All remaining reachable empty fields: <span id="allRemainingReachableEmptyFields"></span></p>
    <p>Unreachable empty fields: <span id="allUnreachableEmptyFields"></span></p>
    <p>Turn number: <span id="turnNumber"></span></p>
</div>
{% endblock extra_current_stats %}

{% block finished_game_modal %}
<div class="modal fade" id="finishedGameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">End of the game!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your final score was <strong><span id="finalScore"></span></strong> points.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="restartGame(); closeFinishedGameModal();">Start new game</button>
      </div>
    </div>
  </div>
</div>
{% endblock finished_game_modal %}