<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FITS</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js" integrity="sha512-2rUSTSAeOO02jF6eBqENNqPs1EohenJ5j+1dgDPdXSLz9nOlrr8DJk4zW/lDy8rjhGCSonW3Gx812XJQIKZKJQ==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='drawer.js') }}"></script>
    <script src="{{ url_for('static', filename='key_handling.js') }}"></script>


</head>
<body onload="setup()">
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <canvas id="canvas" width="400" height="500"></canvas>
                <div class="row score-container">
                    <span>Current score:</span>
                    <span id="currentScoreDisplay" class="col"></span>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-light" onclick="restartGame()">Restart</button>
                </div>
            </div>
            <div class="col">
                <div id="allRemainingShapesContainer" class="all-remaining-shapes-container">
                </div>
                <div class="row">
                    <div class="col" id="extraCurrentStats">
                        <p>Fields in current shape: <span id="takenFieldsInCurrentShape"></span></p>
                        <p>Fields in other remaining shapes: <span id="takenFieldsInOtherRemainingShapes"></span></p>
                        <p>All remaining reachable empty fields: <span id="allRemainingReachableEmptyFields"></span></p>
                        <p>Unreachable empty fields: <span id="allUnreachableEmptyFields"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="finishedGameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">End of the game!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Your final score was <strong><span id="finalScore"></span></strong> points.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="restartGame(); closeFinishedGameModal();">Start new game</button>
              </div>
            </div>
          </div>
        </div>
    </div>

</body>
</html>
